* {
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#search-button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}


.ktu-logo {
    width: 350px;
    height: 86px;
    object-fit: cover;
}


#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper {
    padding: 50px 0;
    z-index: 1002;
    background-color: #ffefec;
}   

.header-left {
    margin-left: 50px;
    position: relative;
}

.header-right {
    display: flex;
    margin-right: 50px;
}

.cart-icon {
    margin-left: 20px;
}


@media(max-width: 768px) {
    #search-button {
        display: none;
    }
}
