.animation-3d {
    height: 100vh;
    margin: 10vh 0;
    
}

.banner .slider {   
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}