

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}

.carousel {
    display: flex;
}

.carousel-image {
    display: none;
    max-height: 90vh;
    min-width: 100%;
    opacity: 0;
    /* transform: translateX(-100%); */
    object-fit: cover;
    aspect-ratio: 5 / 4;
    transition: opacity 1s ease-in-out;
}

.carousel-image.active {
    display: block;
    opacity: 1;
    /* transform: translateX(0); */
}

.carousel-navigations {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.carousel-navigations button {
    color: black;
    border: none;
    padding: 12px;
    background: none;
    cursor: pointer;
}

