.footer {
}

.instagram-icon {
    background: linear-gradient(45deg, rgb(131, 58, 180), rgb(193, 53, 132), rgb(253, 29, 29), rgb(252, 176, 69));
}

.footer-content {
    display: flex;
    background: linear-gradient(to bottom, #f9f3f0, #FFDAC2);
    padding: 1.5rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 1rem;
    min-width: 12.5rem;
}

.footer-section h2 {
    margin-bottom: 0.6rem;
    font-weight: 700;
}

.footer-section p, .footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-bottom {
    padding-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0.5rem;
    padding: 1rem;
}

.footer-section li {
    list-style-type: none;
}
    