* {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'raleway', sans-serif;
    min-height: 100vh;
}

#search-button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.logo-container {
    transition: transfom 0.3s ease;
}

.ktu-logo {
    width: clamp(200px, 20vw, 350px);
    height: clamp(50px, 4.07vh, 86px); 
    object-fit: cover; 
}


.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    max-width: 100%;
    padding: 50px 0;
    z-index: 1002;
    background-color: #ffefec;
    align-items: center;
}   

/* #main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */



.header-left {
    margin-right: auto;
    position: relative;
    padding-left: 4rem;
}

.header-center {
    display: flex;
    flex: 2;
    justify-content: center;
    min-width: 0;
}

.header-right {
    display: flex;
    margin-left: auto;
    padding-right: 4rem;
}

.cart-icon {
    margin-left: 20px;
}

.open-sidebar svg, .search-icon, .wishlist-icon {
    width: clamp(16px, 3vw, 24px); /* Dynamically resize icons */
    height: auto;
}

@media(max-width: 768px) {
    #search-button {
        display: none;
    }

    .header-wrapper {
        padding: 20px 10px;
    }

    .header-left, .header-right {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .cart-icon {
        margin-left: 10px;
    }


}
