#search-button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer; 
    display: block;
}

#search-button-right {
    display: none;
}

.wishlist-icon {
    display: block;
}

.hamburger-icon {
    width: clamp(1.5rem, 3vw, 1.5rem);
    height: auto;
    display: none;
}

.logo-container {
    transition: transfom 0.3s ease;
}

.ktu-logo {
    width: clamp(200px, 20vw, 350px);
    height: clamp(50px, 4.07vh, 86px); 
    object-fit: cover; 
}

.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    max-width: 100%;
    padding: 50px 0;
    z-index: 1002;
    background-color: #ffefec;
    align-items: center;
}   

.header-left {
    margin-right: auto;
    position: relative;
    padding-left: 4rem;
    outline: none;
}

.open-sidebar,
#search-button,
.open-sidebar svg,
#search-button svg {
  touch-action: manipulation;
  outline: none;
  z-index: 2000;
}

.open-sidebar:focus, 
#search-button:focus {
  box-shadow: none; /* Remove any focus outline/shadow */
}

.header-center {
    display: flex;
    flex: 2;
    justify-content: center;
    min-width: 0;
}

.header-right {
    display: flex;
    margin-left: auto;
    padding-right: 4rem;
    outline: none;
    gap: 1.25rem;
    align-items: center;
}

.header-right:hover {
    cursor: pointer;
}

.cart-icon {
    font-size: 1rem;
}

.search-icon, .wishlist-icon, .cart-icon, #search-button-right {
    width: clamp(1.2rem, 3vw, 1.5rem); /* Dynamically resize icons */
    height: auto;
}


@media(max-width: 768px) {

    #search-button {
        display: none;
    }

    .wishlist-icon {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    .header-wrapper {
        padding: 1.25rem 0.625rem;
    }

    .header-left, .header-right {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    #search-button-right {
        display: flex;
        padding: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer; 
    }
}
