.product-container {
    font-family: "cormorant", serif;
    padding: 3rem 1.5rem;
    background-color: #f9f9f9;
    text-align: center;
}

#price {
    font-family: 'raleway', sans-serif;
    font-size: 1rem;
}

.product-container img {
    width: 100%;
}

.product-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.onepiece-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.onepiece-sets {
    transition: transform 0.3s;
}

.onepiece-sets:hover {
    transform: scale(1.05);
}

.fourseason-products {
    padding-top: 4rem;
}

.fourseasons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.four-seasons:hover {
    transform: scale(1.05);
}

.four-seasons {
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .onepiece-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}